/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page treesitter_languagesguide Supported Grammars

    @tableofcontents

    The module includes built-in grammars for the following languages:
    - Python
    - Java
    - JSON
    - YAML
    - JavaScript
    - Kotlin
    - TypeScript
    - TSX
*/
