/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page treesitter_release_notesguide Release Notes

    @tableofcontents

    @section treesitter_v1_0 treesitter Module Version 1.0
    - initial release
*/
