/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page treesitterlicenseguide License

    @tableofcontents

    The treesitter module is released under the
    <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1 or later</a>
    for its native implementation. General support files retain the MIT alternative.

    Tree-sitter itself is released under the MIT license.
*/
